.button {
    background-color: transparent;
    color: hsl(180, 100%, 25%);
    margin-left: 20px;
    border-color: transparent;
    font-size: 15px;
    transition: 0.5s;
}

@media (max-width: 767px) {
    .button {
        width: 100%;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

.button:hover {
    color: hsl(180, 79%, 41%);
}

.button:active {
    border: 2px solid hsl(0, 0%, 0%);
    border-radius: 5px;
}

.button:disabled {
    color: hsl(0, 0%, 80%)
}