.form {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    padding: 10px 10px;  
}

.form__button {
   padding: 5px;
    background: #008080;
    color: white;
    border: none;
    text-align: center;
    margin-left: 10px;
   
}

.form__input {
    color: black;
    border-style: solid;
    border-color: #eeecec;
    border-width: 1px;
    padding: 5px 10px;
    flex-grow: 1;
    margin-right: 5px;
    margin-left: 5px; 
    width: 80%; 
}

.form__button:hover {
    background: #009999;    
}

@media (max-width: 767px) {
.form__flex {
    flex-basis: 100%;
    margin: 2%;
}
}

@media (max-width: 1199px) {
.form__flex {
    flex-basis: 100%;
    margin: 2%;
}
}