.list {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    border-bottom: 1px solid hsl(0, 15%, 90%);
    padding: 20px;
}

.list__item--hidden {
    display: none;
}

.list__button {
    color: hsl(0, 0%, 100%);
    width: 30px;
    height: 30px;
    border: none;
}

.list__button:hover {
    cursor: pointer;
}

.list__button--done {
    background-color: hsl(120, 74%, 30%);
    transition: 0.5s;
}

.list__button--done:hover {
    background-color: hsl(120, 67%, 40%);
}

.list__button--done:active {
    border: 2px solid hsl(0, 0%, 0%);
}

.list__button--remove {
    background-color: hsl(0, 80%, 55%);
    transition: 0.5s;
}

.list__button--remove:hover {
    background-color: hsl(0, 84%, 70%);
}

.list__button--remove:active {
    background-color: hsl(0, 95%, 30%);
    border: 2px solid hsl(0, 0%, 0%);
}

.list__item {
    padding: 0 10px;
}

.list__item--done {
    padding: 0 10px;
    text-decoration: line-through;
}