.list {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    border-bottom: 1px solid #eee8e8;
    padding: 10px;
}


.list__item--hidden {
    display: none;
}


.list__button {
    color: white;
    width: 30px;
    height: 30px;
    border: none;
}

.list__button:hover {
    cursor: pointer;
}

.list__button--done {
    background-color: rgb(20, 132, 20);
    transition: 0.5s;
}

.list__button--done:hover {
    background-color: rgb(35, 176, 35);
}

.list__button--done:active {
    border: 2px solid black;
}

.list__button--remove {
    background-color: rgb(233, 56, 56);
    transition: 0.5s;
}

.list__button--remove:hover {
    background-color: rgb(242, 101, 101);
}

.list__button--remove:active {
    background-color: rgb(161, 4, 4);
    border: 2px solid black;
}

.list__item {
    padding: 0 10px;
}

.list__item--done {
    padding: 0 10px;
    text-decoration: line-through;
}