.section {
    margin: 10px 0;
    background: white;
    box-shadow: 0 0 5px #d1d1d1;
}
.section__body{
    padding: 20px;
}
.section__header {
    border-bottom: 1px solid #d1d1d1;
    margin: 0;
    padding: 20px;
    font-size: 20px;
    
}