.section {
    background-color: hsl(0, 0%, 100%);
    border: 2px solid hsl(0, 0%, 90%);
    margin-bottom: 5px;
}

@media (max-width: 767px) {
    .section {
        width: 100%;
    }
}

    .section__header {
        display: grid;
        grid-template-columns: 1fr auto;
        border-bottom: 2px solid hsl(0, 0%, 90%);
    }

@media (max-width: 767px) {
    .section__header {
        grid-template-columns: 1fr;
    }
}
.section__title {
    padding: 20px;
    background-color: hsl(0, 0%, 100%);
    margin: 0;
    font-size: 20px;
}

.section__tasks {
    list-style: none;
    padding: 15px;
    margin: 20px;
}

.section__buttons {
    padding: 20px 70px 20px 20px;
}